<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin  Pages</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
	<link rel="stylesheet" type="text/css" href="css/admin-pages.css" ><!--CSS FOR THIS PAGE'S CONTENTS-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="admin-pages.js"></script>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
 <link rel="stylesheet" href="css/font-awesome.css" /><!--fontawasome icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" /><!--Google font-->
</head>
 
<body>


 <div id="wrapper" class="container-fluid">
        <header class="row">
            <div id="header_logo" class="col-md-2 col-sm-4 col-xs-4">
                <a href="#"><img src="photos/logo.png" alt="Blind River Hospital logo"></a>
            </div>
            
            <div id="header_nav" class="hidden-lg hidden-md col-sm-8 col-xs-8">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#Collapse_header_nav">
                    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                </button>
            </div>

            <div id="header_logout" class="col-md-offset-6 col-md-4 col-sm-12 col-xs-12">
                <p>Last access : 1 Jan 2017 &nbsp; <a href="index.html" class="btn btn-danger"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></p>
            </div>
			
			<div id="Collapse_header_nav" class="panel-collapse collapse in hidden-lg hidden-md col-sm-12 col-xs-12">
                <ul class="nav" id="mobile-menu">
                    <li><a href="admin.html" ><i class="fa fa-dashboard"></i>Dashboard </a></li>
                    <li class="active-link"><a href="admin-edit.html"><i class="fa fa-edit"></i>Control Panel <span class="badge bg-color-pink">3</span></a></li>
                    <li><a href="#"><i class="fa fa-table"></i>Database <span class="badge bg-color-pink">30</span></a></li>
                    <li><a href="admin-pages.html"><i class="fa fa-pages"></i>Pages <span class="badge bg-color-pink">3</span></a></li>
                    <li><a href="#"><i class="fa fa-bar-chart-o"></i>Link </a></li>
                </ul>
            </div>
        </header>
 <div id="page_wrapper" class="row">
            <div id="page_left" class="col-lg-2 col-md-3 hidden-sm hidden-xs">
                <nav id="left_nav">
                    <div>
                        <ul class="nav" id="main-menu">
                            <li><a href="admin.html" ><i class="fa fa-dashboard"></i>Dashboard </a></li>
                            <li class="active-link"><a href="admin-edit.html"><i class="fa fa-edit"></i>Control Panel <span class="badge bg-color-pink">3</span></a></li>
                            <li><a href="#"><i class="fa fa-table"></i>Database <span class="badge bg-color-pink">30</span></a></li>
                            <li><a href="admin-pages.html"><i class="fa fa-pages"></i>Pages <span class="badge bg-color-pink">3</span></a></li>
                            <li><a href="#"><i class="fa fa-bar-chart-o"></i>Link </a></li>
                        </ul>
                    </div>
                </nav>
            </div>    
            <div id="page_inner" class="col-lg-10 col-md-9">
                <div class="row">
                    <div class="col-md-12">
					<!--WHERE ADMIN PAGES STARTS-->
                        <h2>Admin Pages</h2>
                        <hr>
                        <div class="alert alert-info" role="alert"><h5>Welcome back John Doe.</h5></div>
                    </div>
					
					<div class="messagetoUser">
					<h3>Hello, please select the feature you wish to access below: </h3>
					</div>

 <nav id="pages_nav">
                    <div>
                        <ul class="list-group-item: horizontal" id="main-menu">
							<li class="P1" id="P1">ER Wait Time Calculator</li>
							<li class="P2" id="P2">Donate Now</li>
							<li class="P3">Make an Online Payment</li>
							<li class="P4">Aqsa Feature 1</li>
							<li class="P5">Aqsa Feature 2</li>
							<li class="P6">Aqsa Feature 3</li>
							<li class="P7">Asuka Feature 1</li>
							<li class="P8">Asuka Feature 2</li>
							<li class="P9">Asuka Feature 3</li>
							<li class="P10">Siji Feature 1</li>
							<li class="P11">Siji Feature 2</li>
							<li class="P12">Siji Feature 3</li>
							<li class="P13">Sabin Feature 1</li>
							<li class="P14">Sabin Feature 2</li>
							<li class="P15">Sabin Feature 3</li>
							<li class="P16">Duc Feature 1</li>
							<li class="P17">Duc Feature 2</li>
							<li class="P18">Duc Feature 3</li>
                        </ul>
                    </div>
                </nav>
		<div class = "hjf1">
			<h2>ER Wait Time Calculator</h2>
			<br/>
			<p>Please Select Severity Below:</p>
			<fieldset class="erwtc">
			<form method="post" input type="select">
				<select name="severity">
					 <option selected disabled>---SELECT SEVERITY---</option>
					 <option value="Severity1">Severity 1 - 45 Minutes</option>
					 <option value="Severity2">Severity 2 - 1.5 Hours</option>
					 <option value="Severity3">Severity 3 - 2.25 Hours</option>
					 <option value="Severity4">Severity 4 - 3 Hours</option>
				</select>
				<input type="submit" value="Add">
				<input type="submit" value="Cancel">
			</form>
			</fieldset>
		</div>
		
		<div class = "hjf2">
			<h2>Donate Now</h2>
			<br/>
			<table id="donatenowtable" style="width:100%">
				<tr>
					<th>FIRST NAME</th>
					<th>LAST NAME</th> 
					<th>EMAIL</th>
					<th>PHONE</th>
					<th>ADDRESS</th> 
					<th>POSTAL CODE</th>
					<th>CITY ID</th>
					<th>DATE</th> 
					<th>DONATION AMOUNT</th>
				</tr>
				<tr>
					<td>Himat</td>
					<td>Jutla</td> 
					<td>himatjutla@gmail.com</td>
					<td>647-308-4466</td>
					<td>883 Drysdale Drive</td> 
					<td>L5V 1X5</td>
					<td>MISS</td>
					<td>03/11/2017</td> 
					<td>$123,000,009.99</td>
				</tr>
			</table>
		</div>
		
		<div class = "hjf3">
			<h2>Make an Online Payment</h2>
			<br/>
			<table id="donatenowtable" style="width:100%">
				<tr>
					<th>FIRST NAME</th>
					<th>LAST NAME</th> 
					<th>EMAIL</th>
					<th>PHONE</th>
					<th>ADDRESS</th> 
					<th>POSTAL CODE</th>
					<th>CITY ID</th>
					<th>DATE</th> 
					<th>AMOUNT</th>
					<th>ID</th>
				</tr>
				<tr>
					<td>Himat</td>
					<td>Jutla</td> 
					<td>himatjutla@gmail.com</td>
					<td>647-308-4466</td>
					<td>883 Drysdale Drive</td> 
					<td>L5V 1X5</td>
					<td>MISS</td>
					<td>03/11/2017</td> 
					<td>$123,000,009.99</td>
					<td>123456</td>
				</tr>
			</table>
		</div>
		
		<div class = "aqf1">
			<h2>Aqsa Feature 1</h2>
			<br/>
		</div>
		
		<div class = "aqf2">
			<h2>Aqsa Feature 2</h2>
			</div>
			
			<div class = "aqf3">
			<h2>Aqsa Feature 3</h2>
			<br/>
			</div>
			
			<div class = "asf1">
			<h2>Asuka Feature 1</h2>
			</div>
			
			<div class = "asf2">
			<h2>Asuka Feature 2</h2>
			<br/>
			</div>
			
			<div class = "asf3">
			<h2>Asuka Feature 3</h2>
			<br/>
			</div>
			
			<div class = "sjf1">
			<h2>Siji Feature 1</h2>
			<br/>
			</div>
			
			<div class = "sjf2">
			<h2>Siji Feature 2</h2>
			<br/>
			</div>
			
			<div class = "sjf3">
			<h2>Siji Feature 3</h2>
			<br/>
			</div>
			
			<div class = "sbf1">
			<h2>Sabin Feature 1</h2>
			<br/>
			</div>
			
			<div class = "sbf2">
			<h2>Sabin Feature 2</h2>
			<br/>
			</div>
			
			<div class = "sbf3">
			<h2>Sabin Feature 3</h2>
			<br/>
			</div>
			
			<div class = "dcf1">
			<h2>Duc Feature 1</h2>
			<br/>
			</div>
			
			<div class = "dcf2">
			<h2>Duc Feature 2</h2>
			<br/>
			</div>
			
			<div class = "dcf3">
			<h2>Duc Feature 3</h2>
			<br/>
			</div>
			
			
			
            </div><!-- END PAGE_INNER  -->
        </div><!-- END PAGE_WRAPPER  -->
    </div><!-- END WRAPPER -->
    <footer class="sticky">
        <div class="row">
            <div class="col-lg-12" >
                <p><small>&copy;  2014 yourdomain.com</small></p>
            </div>
        </div>
    </footer><!-- END FOOTER  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>			

</body>
