@*<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        
    </head>
    <body>
        @RenderBody()
    </body>
</html>*@

@{ 
    Layout = "_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">


    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#PatientInfo" aria-controls="PatientInfo" role="tab" data-toggle="tab">Patient Information</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
    @RenderBody();
    @*<div role="tabpanel" class="tab-pane active" id="PatientInfo">@Html.Action("Index", "Patients")</div>
    <div role="tabpanel" class="tab-pane" id="profile">profile</div>
    <div role="tabpanel" class="tab-pane" id="messages">.message..</div>
    <div role="tabpanel" class="tab-pane" id="settings">.settings..</div>*@
</div>
