.hidden {
    position: absolute;
    left: -10000px;
}

html {
    box-sizing: border-box;
    font-size: calc(112.5% + 0.5vw);
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #333;
    height: 100%;
}

img {
    max-width: 100% !important;
    height: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

header,
nav,
main {
    margin-bottom: 20px;
}

#header_logout {
    padding-top: 5px;
    padding-right: 10px;
    text-align: right;
}

#header_logout span {
    margin-right: 10px;
}