@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO BLIND RIVER HOSPITAL</h1>
    <p class="lead">525 CAUSLEY ST., BLIND RIVER, ON, P0R 1B0</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vision</h2>
        <p>
            Blind River District Health Centre will be recognized for excellence in the provision of rural health care and service delivery in an integrated model.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mission</h2>
        <p>To work with our various partners in providing safe, high-quality, compassionate health care while building healthy communities.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Values</h2>
        <p>We respect your dignity, your privacy, your participation, and your person.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>